*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    /* colors */
    --base: white;
    --light-grey: #667085;
    --grey-600: #3A404E;
    --grey-900: #101828;
    --red: #8E2424;

    /* text */
    --font-inter: 'Inter';
    --light: 400;
    --medium: 500;
    --semi-bold: 600;
    --regular-text: 16px;
    --medium-text: 18px;
    --large-text: 48px;
}

body{
    font-family: var(--font-inter);
    font-weight: var(--medium);
    min-height: 100vh;
    width: 100vw;
}

.nav-bar{
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    width: 100%;
}

.logo, 
.menu, 
.nav-btns{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.logo{
    color: var(--grey-600);
    font-size: var(--medium-text);
    width: 10%;
}

.logo-item img{
    height: 27px;
}

.menu{
    width: 30%;
}

.menu a{
    color: var(--light-grey);
    font-size: var(--regular-text);
    transition: .3s;
}

.menu a:hover{
    color: var(--red);
    text-decoration: underline;
}

.btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: var(--regular-text);
    line-height: 44px;
    transition: .3s;
    width: 112px;
}

.btn:hover{
    filter: brightness(.6);
}

.btn-enter{
    background-color: var(--base);
    color: var(--light-grey);
}

.btn-sign{
    background-color: var(--red);
    color: var(--base);
}

section{
    width: 100%;
}

#about-us{
    padding: 10vh;
}

h1{
    color: #8E2424;
    font-weight: var(--semi-bold);
    font-size: var(--regular-text);
    line-height: 24px;
    text-align: center;
}

h2{
    color: var(--grey-900);
    font-size: var(--large-text);
    font-weight: var(--semi-bold);
    margin: 24px auto 0;
    text-align: center;
}

p{
    color: var(--light-grey);
    font-size: 20px;
    font-weight: var(--light);
    line-height: 30px;
    margin: 36px auto 0;
    text-align: center;
    width: 50%;
}