*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper-form{
    margin: 0 auto;
    padding: 5vh;
    width: 50vw;
}

.wrapper-form fieldset{
    border: 2px solid #00000060;
    border-radius: 2vh;
    padding: 1vw;
}

.wrapper-form fieldset legend{
    font-size: 6vh;
    padding: 0 1vw;
    text-align: center;
}

.form{
    margin: 0 auto;
    width: 100%;
}

.form label{
    display: block;
    font-size: 2vh;
    margin: 2vh auto;
    width: 60%;
}

span{
    color: red;
    display: block;
    font-size: 1.5vh;
}

.pop-up{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 2vh;
    box-shadow: 1px 1px 10px #000;
    display: none;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    left: 35vw;
    padding: 2vh;
    position: absolute;
    top: 40vh;
    width: 30vw;
}

.pop-up h2{
    font-size: 3vh;
    text-align: center;
}

.pop-up p{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    width: 50%;
}

.pop-up p input{
    background-color: blueviolet;
    border: none;
    border-radius: 2vh;
    color: whitesmoke;
    cursor: pointer;
    font-size: 2.5vh;
    padding: 1vh 2vh;
    transition: .3s;
}

.pop-up p input:hover{
    box-shadow: 1px 1px 10px #00000060;
}

.form input{
    border: 2px solid #00000060;
    border-radius: 4vh;
    line-height: 5vh;
    font-size: 3vh;
    padding: 0 2vw;
    width: 100%;
}

.btn-submit{
    background-color: blueviolet;
    border: none !important;
    border-radius: 1vh;
    color: whitesmoke;
    cursor: pointer;
    display: block;
    font-size: 2.2vh !important;
    margin: 0 auto;
    transition: .3s;
    width: 20% !important;
}

.btn-submit:hover{
    box-shadow: 1px 1px 8px #00000090;
}

.result{
    margin: 0 auto;
    width: 50vw;
}

.result table{
    height: 10vh;
    margin: 0 auto;
    overflow: scroll;
    width: 60%;
}

.result table tr{
    font-size: 2vh;
    position: relative;
}

.result table tr th{
    font-size: 2.5vh;
}

.result table tr td,
.result table tr th{
    border: 2px solid #00000060;
    padding: 1vh 0;
    text-align: center;
}

.result table tr td input:disabled,
.result table tr td input{
    color: black;
    font-size: 2vh;
}

.result table tr td input:disabled{
    border: none;
}

.result table tr td input{
    padding: 1vh;
}

.result table tr td:first-child input{
    margin-left: 2vw;
}

.no-border{
    border: none !important;
}

.btn-edit:disabled,
.btn-edit{
    background-color: blueviolet;
    border: none;
    border-radius: 1vh;
    color: whitesmoke !important;
    cursor: pointer;
    padding: 1vh 0;
    transition: .3s;
    width: 8vw;
}

.btn-edit:disabled{
    opacity: .6;
}

.edit-icon,
.remove-icon{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.edit-icon{
    left: 8%;
}

.remove-icon{
    left: 2%;
}

.edit-icon svg,
.remove-icon svg{
    height: 2.5vh;
    transition: .3s;
}

.remove-icon{
    fill: #80808060;
}

.remove-icon:hover{
    fill: #808080;
}

.edit-icon{
    fill: #8a2be280;
}

.edit-icon svg:hover{
    fill: blueviolet;
}

.no-border{
    display: none;
    position: absolute;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
}

.no-border input:hover{
    box-shadow: 1px 1px 10px #00000060;
}

